/* GENERAL */

:root {
    --accent-color:#2196F3;
    --main-color:#757575;
    --name-color:#212121;
    --background-color:#2F303A;
}

body{
    font-family: 'Roboto', sans-serif;
}
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}

/* HEADER */
.logo{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height:calc(31 / 26);
letter-spacing: 0.03em;
color: #000000;
}
.first-part{
    color:var(--accent-color);
}

.header-nav-link{
font-weight: 500;
font-size: 14px;
line-height: calc(16 / 12);
letter-spacing: 0.02em;
color:var(--name-color);
}
.header-nav-link:hover,
.header-nav-link:focus {
    color:var(--accent-color);
}
.header-tel-link,
.header-mail-link{
font-weight: 500;
font-size: 14px;
line-height:calc(16 / 14);
letter-spacing: 0.02em;
color:var(--main-color);
}
.header-mail-link:hover,
.header-mail-link:focus{
    color:var(--accent-color);
}
.header-tel-link:hover,
.header-tel-link:focus{
    color:var(--accent-color);
}
/* ORDER A SERVICE */

.main-title{
font-weight: 900;
font-size: 44px;
line-height:calc(60 / 44);
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
background:var(--background-color);

}
.button{
font-weight: 700;
font-size: 16px;
line-height:calc(30 / 16);
display: flex;
align-items: center;
/* text-align: center; */
letter-spacing: 0.06em;
color: #FFFFFF;
background:var(--accent-color);
cursor:pointer;
}
.main-item{
font-weight: 700;
font-size: 14px;
line-height:calc(16 / 14);
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--name-color);
}
.menu-paragraph{
font-weight: 400;
font-size: 14px;
line-height:calc(24 / 14);
letter-spacing: 0.03em;
color:var(--main-color);
}


/* WORK */
.work-list{
font-weight: 700;
font-size: 36px;
line-height:calc(42 / 36);
/* text-align: center; */
letter-spacing: 0.03em;
color:var(--name-color);
}
.team-name{
font-weight: 500;
font-size: 16px;
line-height:calc(19 / 16);
/* text-align: center; */
letter-spacing: 0.03em;
color:var(--name-color);
}
.position{
font-weight: 400;
font-size: 16px;
line-height:calc(19 / 16);
/* text-align: center; */
letter-spacing: 0.03em;
color:var(--main-color);
}
/* FOOTER */
.footer{
background:var(--background-color);
}
.first-part,.last-part-last{
font-family: 'Raleway';
}
.last-part-last{
    color: #FFFFFF;
}
.adress{
font-weight: 400;
font-size: 14px;
line-height:calc(24 / 14);
letter-spacing: 0.03em;
color: #FFFFFF;
}
.footer-contact{
font-weight: 400;
font-size: 14px;
line-height:calc(24 / 14);
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);

}

/* Portfolio */
/* Button */
 .main-button{
font-weight: 500;
font-size: 16px;
line-height:calc(26 / 16);
text-align: center;
letter-spacing: 0.03em;
color:var(--name-color);
background: #F5F4FA;
border-radius: 4px;
cursor:pointer;
}
.main-button:hover{
background:var(--accent-color);
color: #FFFFFF;
}
.portfolio-list{
font-weight: 700;
font-size: 18px;
line-height:calc(36 / 18);
letter-spacing: 0.06em;
color:var(--name-color);
}
.text{
font-weight: 400;
font-size: 16px;
line-height:calc(30 / 16);
letter-spacing: 0.03em;
color:var(--main-color);
}
